.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebar-menu-li-a{
  padding: 10px 0px 10px 70px;
  font-size: 16px !important;
}
.metismenu-state-icon{
  float: left !important; 
}



.ant-drawer-close{
  right: 0 !important;
  left: 0;
}
/* .ant-menu-item{
  padding-right:72px !important;
} */

/* .ant-layout-sider-dark{
  min-width: 270px !important;
} */

.ant-layout-sider-children{
  height: -webkit-fill-available !important;
}

.ant-menu-item{  
  text-align: right !important;
}
.anticon{
  margin-right: 0 !important;
  margin-left: 10px !important;
}
.ant-menu-submenu{
  text-align:right;
}
.ant-menu-submenu-title{
  padding-right: 18px !important;
}

.ant-menu-submenu-arrow{
  right: 170px !important;
}
.ant-menu-sub{
  padding-right: 35px !important;
}
.ant-badge{
  right: 10px;
  bottom:10px;
}
.ant-descriptions{
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background-color: white;
  
}

.ant-dropdown{
  top:65px !important;
}

.ant-dropdown-menu {
  text-align: center !important;
}




.ant-drawer-content-wrapper{
  height: 140px !important;
}


.ant-table-tbody{
  background-color: white !important;
}

/* pagination table*/
.ant-pagination{
  float: left !important;
}
.anticon-left{
  transform: rotate(180deg);
  margin-left: 0px !important;
  padding-top: 2px;
}
.anticon-right{
  transform: rotate(180deg);
  margin-left: 0px !important;
  padding-top: 2px;
}
.ant-pagination-item{
  margin-right: 0px !important;
}